line, polyline, path{
		    fill: none;
		    stroke-linecap: round;
		    stroke-linejoin: round;
		    stroke-miterlimit: 10.00;
		}
		.river-polyline {
		    stroke: #1E90FF;
		}
		
		.track-polyline {
		    stroke: #e0eeee;
		    stroke-width:2;
		}
		.county-polygon{
		    fill: #DCDCDC;
		    stroke: #c6c6c6;
		    stroke-width:0.5;
		}
		.state-polygon {
		  fill: #E8E8E8;
		  stroke: #c6c6c6;
		  stroke-width:0.5;
		}
		.background {
					fill: #8f8f8f;
					stroke: none
				}
		.storm-dot, .storm-dot-legend {
		  fill: red;
		}
		.time-text {
		  font-size: 1.8em;
		}
		.watermark {
		  fill: #DCDCDC;
		  stroke: #c6c6c6;
		  stroke-width:0.5;
		  opacity: 0.4;
		}