line, polyline, path{
		    fill: none;
		    stroke-linecap: round;
		    stroke-linejoin: round;
		    stroke-miterlimit: 10.00;
		}
		.river-polyline {
		    stroke: #1E90FF;
		}
		
		.track-polyline {
		    stroke: #e0eeee;
		    stroke-width:2;
		}
		.sparkline {
		    stroke: #e0e0e0;
		    stroke-width:1.5;
		}
		.sparkline-bold {
		    stroke: #e0e0e0;
		    stroke-width:3.5;
		}
		.county-polygon{
		    fill: #DCDCDC;
		    stroke: #c6c6c6;
		    stroke-width:0.5;
		    
		}
		.county-polygon:hover, .state-polygon:hover { 
      stroke: #ffffff;
      fill-opacity: 0.92;
    }
		.state-polygon {
		  fill: #E8E8E8;
		  stroke: #c6c6c6;
		  stroke-width:0.5;
		}
		.background {
					fill: #8f8f8f;
					stroke: none
				}
		.storm-dot, .storm-dot-legend {
		  fill: red;
		}
		.time-text {
		  font-size: 1.35em;
		}
		.legend-title {
		  font-size: 1.3em;
		}
		.nwis-dot:hover {
		  fill: grey;
		}
		.watermark {
		  fill: #DCDCDC;
		  stroke: #c6c6c6;
		  stroke-width:0.5;
		  opacity: 0.4;
		}