<div id="{{id}}" caption="Precipitation from Hurricane Matthew">
  <figure>{{{figure}}}</figure>
  <div id="buttonContainer">
    <button id="playButton" onclick="playPause();">Play</button>
  </div>
  <figureCaption>{{line1}}<a href="{{SPNLink}}" target="_blank">{{SPNLink}}</a>{{line2}}</figureCaption>
</div>