<div id="{{id}}" caption="Precipitation from Hurricane Matthew">
  <figure>{{{figure}}}</figure>
  <div id="buttonContainer">
    <button id="playButton">Play</button>
  </div>
  <figureCaption>{{caption}}</figureCaption>
</div>